body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-110px;
  width:771px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:90px;
  width:771px;
  height:256px;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:50px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:50px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:0px;
  width:157px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:50px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:0px;
  width:457px;
  height:50px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:50px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:157px;
  height:50px;
  display:flex;
  font-size:18px;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:50px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:50px;
  width:157px;
  height:50px;
  display:flex;
  font-size:18px;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:50px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:50px;
  width:457px;
  height:50px;
  display:flex;
  font-size:18px;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:50px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:157px;
  height:50px;
  display:flex;
  font-size:18px;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:50px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:100px;
  width:157px;
  height:50px;
  display:flex;
  font-size:18px;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:50px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:100px;
  width:457px;
  height:50px;
  display:flex;
  font-size:18px;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:50px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:157px;
  height:50px;
  display:flex;
  font-size:18px;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:50px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:150px;
  width:157px;
  height:50px;
  display:flex;
  font-size:18px;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:50px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:150px;
  width:457px;
  height:50px;
  display:flex;
  font-size:18px;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:50px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:157px;
  height:50px;
  display:flex;
  font-size:18px;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:50px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:200px;
  width:157px;
  height:50px;
  display:flex;
  font-size:18px;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:50px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:200px;
  width:457px;
  height:50px;
  display:flex;
  font-size:18px;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
