body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:822px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:60px;
  width:300px;
  height:30px;
  display:flex;
  font-family:'等线', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u18 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:832px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:832px;
  display:flex;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
